
.sideBar-Cliente{
    display: flex;
    min-height: 100vh;
}

.rightSide-Cliente{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.navBar-liente{
    height: 101px;

}

.main-Cliente{
    display: flex;
    flex-direction: column;
    flex: 1;

    gap: 75px;
}
.card-main-novo-cliente{
display: flex;
}

.novo-Cliente{
    background-color: #b4fcfc;
    border: 1px solid #9bd4d4;
    border-radius: 20px;

    max-width: 200px;
    max-height: 78px;
    cursor: pointer;

    margin: 50px;
    padding: 30px;
    font-size: 15px;

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   transition: all 0.2s ease;
}

.novo-Cliente:hover{
    background-color: #00ffff;

    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    
}

.card-novo-cliente{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    background-color: #f0f8ff;
    height: 500px;
    width: 450px;
    padding: 30px;

    border-radius: 20px;

    box-shadow: 7px 5px 5px #b1b3b4;
}

.card-dados-clientes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    align-items: center;
}
.card-dados-clientes input {
    width: 350px;
}

.card-cliente-button{
    display: flex;
    gap: 30px;
    padding-top: 10px;

    cursor: pointer;

}

.clientes-Cards{
    display: flex;
    gap: 200px;
}

.cliente-card{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    padding: 50px;
    margin-left: 100px;
    border-radius: 20px;
}

.response{
    display: flex;
}

.sucesso{
    color: green;
}
.falha{
    color: red;
}

.modal-cadastro{
    position: fixed;
    inset: 0;
}
.modal-filtro{
    position: absolute;
    z-index: 100;
}

.browser-Cliente{
    display: flex;
    flex-direction: column;

    margin-left: 50px;

    position: relative;
}


.browser-Cliente input{
    width: 500px;
    height: 50px;


    border-color: #9bd4d4;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.browser-Cliente button {
    background-color: #b4fcfc;

    height: 50px;
    width: 100px;

    border-left: 0px;
    border: 1px solid #9bd4d4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    cursor: pointer;
}

.container-card-Filtro {
    position: absolute;
    top: 80px;
    left: 450x;

    margin-top: 8px;
    width: 180px;
    padding: 15px;

    background-color: #b4fcfc;
    border-radius: 12px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.card-filtro-interno {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Filtros,
.Periodo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.Filtros label,
.Periodo label {
    font-size: 13px;
    font-weight: 600;
}

.Filtros select,
.Periodo select {
    width: 100%;
    height: 28px;

    border: 1px solid #777;
    border-radius: 5px;

    background-color: white;
    font-size: 12px;
}


.lista-Clientes{
    min-width: 100vw;
    margin-left: 25px;
    
    background-color: #d4d6d6;
    padding: 30px;
}

.header-tabela-clientes{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;
}

.lista-Clientes-ativos{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    align-items: center;
}

.lista-Clientes-ativos span{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
    background-color: #fff;
    height: 30px;
}
