

.containerNav{
    display: flex;
    border: solid 1px #daeeff ;
    background-color: #f0f8ff;

    height: 101px;

    align-items: center;
    justify-content: space-around;

    border-left: none;
}

.info{
    display: flex;
    gap: 10px;
}

.info-enterprise{
    font-size: 15px;
}

.image{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.user{
    background-color: #b4fcfc;
    border: solid 1px #9bd4d4;
    padding: 10px;
    border-radius: 100%;
}
