* {
    box-sizing: border-box;
}



.containerSideBar {
    display: flex;
    flex-direction: column;

    width: 250px;
    min-height: 100vh;

    border: solid 1px #ccc;
    background-color: rgb(238, 238, 238);
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation h1 {
    cursor: pointer;

    padding: 10px;
    margin: 10px;

    border-radius: 9px;

    transition: 0.3s ease-in;

    font-size: 20px;
}

.navigation h1:hover {
    background-color: #05AFF2;
    color: #ffffff;
}

.logout {
    margin-top: auto;
}

.logout h1 {
    border-radius: 12px;
    text-align: center;

    font-size: 20px;

    padding-bottom: 20px;
}

.photo-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100px;

    border-left: solid 1px #ccc;

    border-bottom: 1px solid #ccc;
}

.photo-logo img {
    max-width: 80%;
    max-height: 80px;
    object-fit: contain;
}


